.cart{
  position: absolute;
  background-color: cadetblue;
  width: 30vw;
  height: 100vh;
top: 0px;
right: 0px;
animation: myCart 1s ease-in-out ;  
} 
@keyframes myCart {
  0%{
    transform: translateX(30vw);
  }
   100%{
    transform: translateX(0vw);
  }
}
@media (max-width:550px) {
  .nav1{
    display: none;
  }
  .nav2{
    display: block;
  }
}
@media (min-width:550px) {
  .nav2{
    display: none;
  }
  .nav1{
    display: block;
  }
}